{{#if isLeadingIcon}}
  {{mdc-icon icon class="mdc-text-field__icon" tabindex=iconTabindex}}
{{/if}}

{{input
  type="text"
  id=inputId
  class="mdc-text-field__input"
  value=value
  placeholder=placeholder
  disabled=isDisabled
  required=isRequired
  minlength=minLength
  aria-label=ariaLabel
  aria-controls=ariaControls}}

{{#if label}}
  {{#unless isFullWidth}}
    <label class="mdc-text-field__label" for={{inputId}}>{{label}}</label>
  {{/unless}}
{{/if}}
{{#if isTrailingIcon}}
  {{mdc-icon icon class="mdc-text-field__icon" tabindex=iconTabindex}}
{{/if}}
{{#unless isOutlined}}
  <div class="mdc-text-field__bottom-line"></div>
{{else}}
  <div class="mdc-text-field__outline">
    <svg>
      <path class="mdc-text-field__outline-path"/>
    </svg>
  </div>
  <div class="mdc-text-field__idle-outline"></div>
{{/unless}}