{{#mdc-button icon="favorite"}}
  Yay!
{{/mdc-button}}

{{mdc-button text="Icon" icon="alarm"}}
{{mdc-button text="Raised" isRaised=true}}
{{mdc-button text="Stroked" isStroked=true}}
{{mdc-button text="Unelevated" isUnelevated=true}}
{{mdc-button text="Dense" isDense=true}}
{{mdc-button text="Compact" isCompact=true}}
{{mdc-button text="Disabled" disabled=true}}

{{#mdc-card title="Title goes here" subtitle="Subtitle here" as |card|}}
  <section class="mdc-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat.
  </section>
  <section class="mdc-card__actions">
    {{card.action text="Action 1"}}
    {{card.action text="Action 2"}}
  </section>
{{/mdc-card}}