{{#mdc-card title="Text Button" class="demo"}}
  <section class="mdc-card__supporting-text">
    <div>{{mdc-button text="BASELINE"}}</div>
    <div>{{code-snippet name="mdc-button__baseline.hbs"}}</div>
  </section>
{{/mdc-card}}

{{#mdc-card title="Icon Button" class="demo"}}
  <section class="mdc-card__supporting-text">
    <div>{{mdc-button icon="alarm"}}</div>
    <div>{{code-snippet name="mdc-button__icon.hbs"}}</div>
  </section>
  <section class="mdc-card__supporting-text">
    <div>{{mdc-button text="ICON" icon="alarm"}}</div>
    <div>{{code-snippet name="mdc-button__icon-text.hbs"}}</div>
  </section>
{{/mdc-card}}

{{#mdc-card title="Raised Button" class="demo"}}
  <section class="mdc-card__supporting-text">
    <div>{{mdc-button text="RAISED" isRaised=true}}</div>
    <div>{{code-snippet name="mdc-button__raised.hbs"}}</div>
  </section>
{{/mdc-card}}

{{#mdc-card title="Stroked Button (Experimental)" class="demo"}}
  <section class="mdc-card__supporting-text">
    <div>{{mdc-button text="STROKED" isStroked=true}}</div>
    <div>{{code-snippet name="mdc-button__stroked.hbs"}}</div>
  </section>
{{/mdc-card}}

{{#mdc-card title="Unelevated Button" class="demo"}}
  <section class="mdc-card__supporting-text">
    <div>{{mdc-button text="UNELEVATED" isUnelevated=true}}</div>
    <div>{{code-snippet name="mdc-button__unelevated.hbs"}}</div>
  </section>
{{/mdc-card}}

{{#mdc-card title="Dense Button" class="demo"}}
  <section class="mdc-card__supporting-text">
    <div>{{mdc-button text="DENSE" isDense=true}}</div>
    <div>{{code-snippet name="mdc-button__dense.hbs"}}</div>
  </section>
{{/mdc-card}}

{{#mdc-card title="Compact Button" class="demo"}}
  <section class="mdc-card__supporting-text">
    <div>{{mdc-button text="COMPACT" isCompact=true}}</div>
    <div>{{code-snippet name="mdc-button__compact.hbs"}}</div>
  </section>
{{/mdc-card}}

{{#mdc-card title="Disabled Button" class="demo"}}
  <section class="mdc-card__supporting-text">
    <div>{{mdc-button text="DISABLED" isDisabled=true}}</div>
    <div>{{code-snippet name="mdc-button__disabled.hbs"}}</div>
  </section>
{{/mdc-card}}
