<div class="demo">
  <h1 class="mdc-typography--title">Text Button</h1>
  <section>
    <div class="item">{{mdc-button text="BASELINE"}}</div>
    <div class="item">{{code-snippet name="mdc-button__baseline.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Icon Button</h1>
  <section>
    <div class="item">{{mdc-button icon="alarm"}}</div>
    <div class="item">{{code-snippet name="mdc-button__icon.hbs"}}</div>
  </section>
  <section>
    <div class="item">{{mdc-button text="ICON" icon="alarm"}}</div>
    <div class="item">{{code-snippet name="mdc-button__icon-text.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Raised Button</h1>
  <section>
    <div class="item">{{mdc-button text="RAISED" isRaised=true}}</div>
    <div class="item">{{code-snippet name="mdc-button__raised.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Stroked Button (Experimental)</h1>
  <section>
    <div class="item">{{mdc-button text="STROKED" isStroked=true}}</div>
    <div class="item">{{code-snippet name="mdc-button__stroked.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Unelevated Button</h1>
  <section>
    <div class="item">{{mdc-button text="UNELEVATED" isUnelevated=true}}</div>
    <div class="item">{{code-snippet name="mdc-button__unelevated.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Dense Button</h1>
  <section>
    <div class="item">{{mdc-button text="DENSE" isDense=true}}</div>
    <div class="item">{{code-snippet name="mdc-button__dense.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Compact Button</h1>
  <section>
    <div class="item">{{mdc-button text="COMPACT" isCompact=true}}</div>
    <div class="item">{{code-snippet name="mdc-button__compact.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Disabled Button</h1>
  <section>
    <div class="item">{{mdc-button text="DISABLED" isDisabled=true}}</div>
    <div class="item">{{code-snippet name="mdc-button__disabled.hbs"}}</div>
  </section>
</div>
