<div class="demo">
  <h1 class="mdc-typography--title">Default Fab</h1>
  <section>
    <div class="item">{{mdc-fab icon="favorite"}}</div>
    <div class="item">{{code-snippet name="mdc-fab__default.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Mini Fab</h1>
  <section>
    <div class="item">{{mdc-fab icon="favorite" isMini=true}}</div>
    <div class="item">{{code-snippet name="mdc-fab__mini.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Exited Fab</h1>
  <section>
    <div class="item">{{mdc-button text="TOGGLE EXITED" click=(toggle-action 'isExited' this)}}</div>
    <div class="item">{{mdc-fab icon="favorite" isExited=isExited}}</div>
    <div class="item">{{code-snippet name="mdc-fab__exited.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Absolute Fab</h1>
  <section>
    <div class="item">{{mdc-fab icon="create" class="app-fab--absolute"}}</div>
    <div class="item">{{code-snippet name="mdc-fab__absolute.hbs"}}</div>
  </section>
</div>