{{#mdc-button icon="favorite"}}
  Yay!
{{/mdc-button}}

{{mdc-button text="Icon" icon="alarm"}}
{{mdc-button text="Raised" isRaised=true}}
{{mdc-button text="Stroked" isStroked=true}}
{{mdc-button text="Unelevated" isUnelevated=true}}
{{mdc-button text="Dense" isDense=true}}
{{mdc-button text="Compact" isCompact=true}}
{{mdc-button text="Disabled" isDisabled=true}}

<p>
  {{#mdc-form-field}}
  {{mdc-checkbox inputId="input1234"}}
    <label for="input1234">Input Label</label>
  {{/mdc-form-field}}
</p>

<p>
  {{#mdc-form-field input=mdcRadio class="mdc-form-field--align-end"}}
    {{mdc-radio inputId="input2334" initialize=(action (mut mdcRadio))}}
    <label for="input2334">Input Label</label>
  {{/mdc-form-field}}
</p>

<p>
  {{#mdc-select label="Pick a Food Group" selectedIndex=3 as |select|}}
    {{#select.menu as |menu|}}
      {{#menu.list as |list|}}
        {{#list.item role="option"}}Bread, Cereal, Rice, and Pasta{{/list.item}}
        {{#list.item role="option"}}Vegetables{{/list.item}}
        {{#list.item role="option"}}Fruit{{/list.item}}
        {{#list.item role="option"}}Milk, Yogurt, and Cheese{{/list.item}}
        {{#list.item role="option"}}Meat, Poultry, Fish, Dry Beans, Eggs, and Nuts{{/list.item}}
        {{#list.item role="option"}}Fats, Oils, and Sweets{{/list.item}}
      {{/menu.list}}
    {{/select.menu}}
  {{/mdc-select}}
</p>

<p>
  {{#mdc-select label="Disabled Food Group" isDisabled=true as |select|}}
    {{#select.menu as |menu|}}
      {{#menu.list as |list|}}
        {{#list.item role="option"}}Bread, Cereal, Rice, and Pasta{{/list.item}}
        {{#list.item role="option"}}Vegetables{{/list.item}}
      {{/menu.list}}
    {{/select.menu}}
  {{/mdc-select}}
</p>

<p>
  {{#mdc-select label="Disabled Item Food Group" as |select|}}
    {{#select.menu as |menu|}}
      {{#menu.list as |list|}}
        {{#list.item role="option"}}Bread, Cereal, Rice, and Pasta{{/list.item}}
        {{#list.item role="option" isDisabled=true}}Vegetables{{/list.item}}
        {{#list.item role="option"}}Meat, Poultry, Fish, Dry Beans, Eggs, and Nuts{{/list.item}}
        {{#list.item role="option" isDisabled=true}}Fats, Oils, and Sweets{{/list.item}}
      {{/menu.list}}
    {{/select.menu}}
  {{/mdc-select}}
</p>

<p>
  {{#mdc-tab-bar-scroller as |tab-bar-scroller|}}
    {{#tab-bar-scroller.tab-bar activeTabIndex=5 change=(action 'tabBarChange') as |tab-bar|}}
      {{#tab-bar.tab}}Item Two{{/tab-bar.tab}}
      {{#tab-bar.tab}}Item Two{{/tab-bar.tab}}
      {{#tab-bar.tab}}Item Three{{/tab-bar.tab}}
      {{#tab-bar.tab}}Item Four{{/tab-bar.tab}}
      {{#tab-bar.tab}}Item Five{{/tab-bar.tab}}
      {{#tab-bar.tab}}Item Six{{/tab-bar.tab}}
      {{#tab-bar.tab}}Item Seven{{/tab-bar.tab}}
      {{#tab-bar.tab}}Item Eight{{/tab-bar.tab}}
      {{#tab-bar.tab}}Item Night{{/tab-bar.tab}}
    {{/tab-bar-scroller.tab-bar}}
  {{/mdc-tab-bar-scroller}}
</p>

<p>
  {{#mdc-tab-bar activeTabIndex=1 change=(action 'tabBarChange') as |tab-bar|}}
    {{#tab-bar.tab}}Home{{/tab-bar.tab}}
    {{#tab-bar.tab}}Merchandise{{/tab-bar.tab}}
    {{#tab-bar.tab}}About Us{{/tab-bar.tab}}
  {{/mdc-tab-bar}}
</p>

<p>
  {{#mdc-tab-bar as |tab-bar|}}
    {{#tab-bar.tab}}{{tab-bar.icon "phone" ariaLabel="Recents"}}{{/tab-bar.tab}}
    {{#tab-bar.tab}}{{tab-bar.icon "favorite" ariaLabel="Favorites"}}{{/tab-bar.tab}}
    {{#tab-bar.tab}}{{tab-bar.icon "person_pin" ariaLabel="nearby"}}{{/tab-bar.tab}}
  {{/mdc-tab-bar}}
</p>

<p>
  {{#mdc-tab-bar as |tab-bar|}}
    {{#tab-bar.tab}}
      {{tab-bar.icon "phone" ariaLabel="Recents"}}
      <span class="mdc-tab__icon-text">Recents</span>
    {{/tab-bar.tab}}
    {{#tab-bar.tab}}
      {{tab-bar.icon "favorite" ariaLabel="Favorites"}}
      <span class="mdc-tab__icon-text">Favorites</span>
    {{/tab-bar.tab}}
    {{#tab-bar.tab}}
      {{tab-bar.icon "person_pin" ariaLabel="nearby"}}
      <span class="mdc-tab__icon-text">Nearby</span>
    {{/tab-bar.tab}}
  {{/mdc-tab-bar}}
</p>

<p>
  {{mdc-textfield label="First Name"}}
  <p class="mdc-text-field-helper-text" aria-hidden="true">
    This will be displayed on your public profile
  </p>
  {{mdc-textfield label="Last Name" value="Ayo" ariaControls="username-helper-text"}}
  <p id="username-helper-text" class="mdc-text-field-helper-text" aria-hidden="true">
    This will be displayed on your public profile
  </p>
  {{mdc-textfield label="Email" isRequired=true}}
  {{mdc-textfield placeholder="Full-Width Text Field" isFullWidth=true}}
  {{mdc-textfield label="Outlined" isOutlined=true}}
  {{mdc-textfield label="Disabled" isDisabled=true}}
  {{mdc-textfield label="Your Name" icon="event"}}
  {{mdc-textfield label="Your Name" icon="event" isTrailingIcon=true iconTabindex=null}}
</p>

<p>
  {{mdc-textarea label="First Name"}}
  {{mdc-textarea label="First Name" isFullWidth=true}}
</p>

{{#mdc-card title="Title goes here" subtitle="Subtitle here" as |card|}}
  <section class="mdc-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat.
  </section>
  <section class="mdc-card__actions">
    {{card.action text="Action 1"}}
    {{card.action text="Action 2"}}
  </section>
{{/mdc-card}}

<p>{{mdc-radio}}</p>
<p>{{mdc-radio isDisabled=true}}</p>

<p>{{mdc-slider min=0 max=100}}</p>
<p>{{mdc-slider min=0 max=100 isDiscrete=true}}</p>
<p>{{mdc-slider min=0 max=100 isDiscrete=true hasTrackMarkers=true step=5}}</p>
<p>{{mdc-slider min=0 max=100 isDisabled=true}}</p>

<p>
  <div class="mdc-menu-anchor">
    {{mdc-checkbox toggle=(action (mut showMenu) true) checked=showMenu}}Open Menu
    {{#mdc-menu isOpened=showMenu cancel=(action (mut showMenu) false) select=(action (mut showMenu) false) as |menu|}}
      {{#menu.list role="menu" ariaHidden="true" as |list|}}
        {{#list.item role="menuitem"}}A Menu Item{{/list.item}}
        {{#list.item role="menuitem" isDisabled="true"}}Another Menu Item{{/list.item}}
      {{/menu.list}}
    {{/mdc-menu}}
  </div>
</p>

{{mdc-fab icon="create" class="app-fab--absolute" click=(action 'showModal')}}
{{mdc-fab icon="favorite" isMini=true click=(action (mut showSnack) true)}}

{{mdc-icon-toggle "favorite" offIcon="favorite_border"}}

{{mdc-checkbox toggle=(action 'toggleListCheckbox') checked=showListModal}}Show List Modal

<p>
  {{mdc-snackbar
    isShowing=showSnack
    hidegg=(action (mut showSnack) false)
    message="This means sending anonymous location data to Google"}}</p>

<p>{{mdc-linear-progress isReversed=true isIndeterminate=true}}</p>

<p>{{mdc-linear-progress isIndeterminate=true}}</p>

<p>{{mdc-linear-progress progress=0.7}}</p>
<p>{{mdc-linear-progress progress=0.3 buffer=0.5}}</p>

{{#mdc-dialog
  isShowing=showModal
  id="my-mdc-dialog"
  role="alertdialog"
  ariaLabelledby="my-mdc-dialog-label"
  ariaDescribedby="my-mdc-dialog-description" as |dialog|}}
    <header class="mdc-dialog__header">
      <h2 id="my-mdc-dialog-label" class="mdc-dialog__header__title">
        Use Google's location service?
      </h2>
    </header>
    <section id="my-mdc-dialog-description" class="mdc-dialog__body">
      Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
    </section>
    <footer class="mdc-dialog__footer">
      {{dialog.footer-action text="Decline" click=(action 'hideModal')}}
      {{dialog.footer-action text="Accept" click=(action 'hideModal')}}
    </footer>
{{/mdc-dialog}}

{{#mdc-dialog
  isShowing=showListModal
  id="mdc-dialog-with-list"
  role="alertdialog"
  ariaLabelledby="mdc-dialog-with-list-label"
  ariaDescribedby="mdc-dialog-with-list-description" as |dialog|}}
    <header class="mdc-dialog__header">
      <h2 id="mdc-dialog-with-list-label" class="mdc-dialog__header__title">
        Choose a Ringtone
      </h2>
    </header>
    <section id="mdc-dialog-with-list-description" class="mdc-dialog__body mdc-dialog__body--scrollable">
      <ul class="mdc-list">
        <li class="mdc-list-item">None</li>
        <li class="mdc-list-item">Callisto</li>
        <li class="mdc-list-item">Ganymede</li>
        <li class="mdc-list-item">Luna</li>
        <li class="mdc-list-item">Marimba</li>
        <li class="mdc-list-item">Schwifty</li>
        <li class="mdc-list-item">Callisto</li>
        <li class="mdc-list-item">Ganymede</li>
        <li class="mdc-list-item">Luna</li>
        <li class="mdc-list-item">Marimba</li>
        <li class="mdc-list-item">Schwifty</li>
      </ul>
    </section>
    <footer class="mdc-dialog__footer">
      {{dialog.footer-action text="Decline" click=(action 'hideListModal')}}
      {{dialog.footer-action text="Accept" click=(action 'hideListModal')}}
    </footer>
{{/mdc-dialog}}

{{#mdc-list isAvaterList=true as |list|}}
  {{#list.item}}
    <span class="mdc-list-item__start-detail">
      <img class="mdc-list-item__graphic" src="http://via.placeholder.com/30x30">
    </span>
    Janet Perkins
  {{/list.item}}
  {{#list.item}}
    <span class="mdc-list-item__start-detail">
      <img class="mdc-list-item__graphic" src="http://via.placeholder.com/30x30">
    </span>
    Mary Johnson
  {{/list.item}}
{{/mdc-list}}

{{#mdc-list isTwoLineListItem=true as |list|}}
  {{#list.item}}
    <span class="mdc-list-item__text">
      Two-line item
      <span class="mdc-list-item__secondary-text">Secondary text</span>
    </span>
  {{/list.item}}
  {{#list.item}}
    <span class="mdc-list-item__text">
      Two-line item
      <span class="mdc-list-item__secondary-text">Secondary text</span>
    </span>
  {{/list.item}}
{{/mdc-list}}

{{#mdc-list as |list|}}
  {{#list.item}}
    <i class="mdc-list-item__graphic material-icons mdc-list-item__start-detail" aria-hidden="true">network_wifi</i>
    Wi-Fi
  {{/list.item}}
  {{#list.item}}
    <i class="mdc-list-item__graphic material-icons mdc-list-item__start-detail" aria-hidden="true">bluetooth</i>
    Bluetooth
  {{/list.item}}
{{/mdc-list}}














