<div class="demo">
  <h1 class="mdc-typography--title">Radio Button</h1>
  <section>
    <div class="item">
      {{mdc-radio name="my-radio1"}}
      {{mdc-radio name="my-radio1"}}
    </div>
    <div class="item">{{code-snippet name="mdc-radio__default.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Disabled Radio Button</h1>
  <section>
    <div class="item">
      {{mdc-radio isDisabled=true}}
      {{mdc-radio isDisabled=true}}
    </div>
    <div class="item">{{code-snippet name="mdc-radio__disabled.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Checked Radio Button</h1>
  <section>
    <div class="item">
      {{mdc-radio isChecked=true}}
      {{mdc-radio isChecked=true}}
    </div>
    <div class="item">{{code-snippet name="mdc-radio__checked.hbs"}}</div>
  </section>
</div>