<div class="demo">
  <h1 class="mdc-typography--title">Switch</h1>
  <section>
    <div class="item">
      {{mdc-switch}}
      {{mdc-switch isOn=true}}
    </div>
    <div class="item">{{code-snippet name="mdc-switch__default.hbs"}}</div>
  </section>
</div>

<div class="demo">
  <h1 class="mdc-typography--title">Disabled Switch</h1>
  <section>
    <div class="item">
      {{mdc-switch isDisabled=true}}
      {{mdc-switch isOn=true isDisabled=true}}
    </div>
    <div class="item">{{code-snippet name="mdc-switch__disabled.hbs"}}</div>
  </section>
</div>