{{mdc-textfield label="Username" ariaControls="username-helper-text"}}
<p id="username-helper-text" class="mdc-text-field-helper-text" aria-hidden="true">
  This will be displayed on your public profile
</p>
{{mdc-textfield label="Email" isRequired=true}}
{{mdc-textfield placeholder="Full-Width Text Field" isFullWidth=true}}
{{mdc-textfield label="Outlined" isOutlined=true}}
{{mdc-textfield label="Disabled" isDisabled=true}}
{{mdc-textfield label="Your Name" icon="event"}}
{{mdc-textfield label="Your Name" icon="event" isTrailingIcon=true}}

<p>
  {{mdc-textarea label="First Name"}}
  {{mdc-textarea label="First Name" isFullWidth=true}}
</p>